body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10;
  background-color: #f0f0f0;
}
    
.calculator {  
  background-color: #335; 
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 11px 4px rgba(0, 0, 0, 0.2);
  padding: ;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
} 

.display {
  background-color: #444;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.input {
  font-size: 25px;
}

.button {
  background-color: #665;
  color: white;
  font-size: 20px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 60%;
  margin: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
